<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
  </svg>

<div class="main-content">
    <div class="section-content section-content-p30">
        <section class="vh-100 bg-image">
            <div class="mask d-flex align-items-center h-100 gradient-custom-3">
                <div class="container h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                            <div class="card" style="border-radius: 15px;">
                                <div class="card-body p-5">
                                    <h2 class="text-center mb-5"><b><u>Create An Account</u></b></h2>

                                    <form [formGroup]="registerForm">

                                        <div class="form-outline mb-4">
                                            <label class="form-label"><b>Username :</b></label>
                                            <input [class.is-invalid]="registerForm.get('username')?.invalid &&
                                            registerForm.get('username')?.touched" type="text"
                                                class="form-control form-control-lg" formControlName="username" />
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label class="form-label"><b>Full Name :</b></label>
                                            <input type="text"
                                                [class.is-invalid]="registerForm.get('fullName')?.invalid && registerForm.get('fullName')?.touched"
                                                class="form-control form-control-lg" formControlName="fullName" />

                                        </div>

                                        <div class="form-outline mb-4">
                                            <label class="form-label"><b>Email :</b></label>
                                            <input type="email"
                                                [class.is-invalid]="registerForm.get('email')?.invalid && registerForm.get('email')?.touched"
                                                class="form-control form-control-lg" formControlName="email" />

                                        </div>

                                        <div class="form-outline mb-4">
                                            <label class="form-label"><b>Password :</b></label>
                                            <input type="password"
                                                [class.is-invalid]="registerForm.get('password')?.invalid && registerForm.get('password')?.touched"
                                                class="form-control form-control-lg" formControlName="password" />
                                            <small *ngIf="registerForm.get('password')?.errors?.['minlength']"
                                                class="text-danger">Password should be of
                                                minimum 8 characters</small>
                                        </div>

                                        <div class="alert alert-success d-flex align-items-center" role="alert" *ngIf="message">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                                            <div>
                                              User registered successfully !
                                            </div>
                                          </div>

                                        <div class="d-flex justify-content-center">
                                            <button type="button" (click)="register()" [disabled]="registerForm.invalid"
                                                class="btn btn-success btn-block btn-lg">Register</button>
                                        </div>

                                        <p class="text-center text-muted mt-5 mb-0">Have already an account? <a
                                                routerLink="/login" class="fw-bold text-body"><u>Login</u></a></p>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>